* {
    font-family: Arial, Helvetica, sans-serif
}

.btn-container {
    display: flex;
    align-items: center;

}

button {
    padding: 10px 15px;
    height: 30px;
    width: auto;
}

#likes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
    border: 0px;
}

.btn-container {
    display: flex;
    flex-direction: row;

}

.reaction-button {
    display: flex;
    background-color: white;
    border: 0px;
}

#post-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

#post-text {
    display: flex;
    border-radius: 10px;
    height: 100px;
    border: 1px solid black;
}

#post-button {
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
}

#comment-container {
    display: flex;
    margin-left: 10px;
}